@page
@model WebApp.Pages.ContactResultModel
@{
    ViewData["Title"] = "İletişim & Bize Ulaşın - Jet Stok";
    ViewData["Description"] = "Bize Ulaşın: Jetstok ekibi ile iletişime geçerek sorularınıza hızlı ve profesyonel destek alın. Bütün iletişim kanalları üzerinden bize ulaşabilirsiniz.";
    ViewData["Canonical"] = "https://www.jetstok.com/bize-ulasin";
 
}

@section HeaderContents{
}
<!-- ====== start contact page ====== -->
 <main class="contact-page style-5">


<section class="contact section-padding pt-0 pb-80 pt-50 style-6">
    <div class="container ">
        <div class="content">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="section-head text-center style-4 mb-40">

                        @*<small class="title_small">İlerişim</small>*@
                        <h2 class="mb-20">  <span class="">İletişime geçtiğiniz için teşekkürler.</span> </h2>
                        @*<p>İletişim talebinizi aldıktan sonra sizinle iletişime geçeceğiz</p>*@
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center btn-contact" style="margin-top:25px;">
                            Ekibimiz en kısa zamanda sizinle iletişime geçecektir.
                        </div>
                    </div>
                </div>
            </div>
            @*<img src="/assets/img/icons/contact_a.png" alt="" class="contact_a">
            <img src="/assets/img/icons/contact_message.png" alt="" class="contact_message">*@
        </div>
    </div>
</section>
<section class="community section-padding pt-0 pb-80 style-5">
    <div class="container">
        <div class="content">
            <div class="commun-card">

                <div class="inf text-center">
                    @* <div class="icon icon-45">
                        <img src="/assets/img/icons/mail3d.png" alt="BİZE ULAŞIN">
                    </div> *@
                    <h5><a href="/blog/eticaretin-tüketici-ve-isletme-icin-firsatlari" title="E-Ticaretin Fırsatları">E-Ticaretin Fırsatları: İşletmeler ve Tüketiciler İçin Avantajlar</a></h5>
                   @*  <p>Sorularınıza hızlıca yanıt almak için bize mail atın.</p> *@
                </div>
            </div>
            <div class="commun-card">
                <div class="inf text-center">
                  @*   <div class="icon icon-45">
                        <img src="/assets/img/icons/map3d.png" alt="BİZE ULAŞIN">
                    </div> *@
                    <h5><a href="/blog/eticarette-satis-arttirmanin-yollari" title="E-Ticarette Satışlarınızı Arttırma’nın 5 Yolu Nedir?">E-Ticarette Satışlarınızı Arttırma’nın 5 Yolu Nedir?</a></h5>
                    @* <p>
                        Merkez Mahallesi Ayfer Sokak No:13 Daire:5
                    </p> *@
                </div>
            </div>
            <div class="commun-card">
                <div class="inf text-center">
                   @*  <div class="icon icon-45">
                        <img src="/assets/img/icons/msg3d.png" alt="BİZE ULAŞIN">
                    </div> *@
                    <h5><a href="/blog/yurtdisina-ürün-satisi-nasil-yapilir" title="Yurt Dışına Ürün Satışı Nasıl Yapılır?">Yurt Dışına Ürün Satışı Nasıl Yapılır?</a></h5>
                    @* <p>Pazaryeri entegrasyonu için bizimle iletişim kurun.</p> *@
                </div>
            </div>
        </div>
    </div>
</section>
 
 </main>